# Server Configuration
PORT=5001
NODE_ENV=development

# MongoDB Connection String (Atlas URI or Local)
# Example Local: mongodb://127.0.0.1:27017/veloop_rewards
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/veloop_rewards?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/veloop_rewards

# JWT Secret Key
JWT_SECRET=veloop_super_secure_jwt_secret_key_2026_internship_production

# CORS Allowed Origin
CLIENT_URL=http://localhost:5173
